<div class="login-container">  
    <div class="login-form">
        <h1>Please login to continue...</h1>
        <form action="/session" method = "post">
            
            <label for="">email</label>
            <input type="text" name="email">

            <label for="">password</label>
            <input type="password" name="password">

            <button>login</button>
        </form>
    </div>

</div>
